{% extends 'base.html' %}
{% block body %}
    
    <div class="container my-1">
        <h3>Update your Todo</h3>
        <form action="/update/{{todo.sno}}" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Update Todo Title</label>
                <input type="text" class="form-control" name="title"value="{{todo.title}}" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="Desc" class="form-label">New Todo Description</label>
                <input type="text" class="form-control"value="{{todo.desc}}" name="desc" id="Desc">
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
{% endblock body %}